* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}

#map {
    width: 70%;
}

#searchBar {
    width: 70%;
    border-radius: 5px;
}

ul {
    width: 58%;
    list-style: none;
    position: absolute;
    padding-left: 0;
}

#suggestions {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
}

#suggestions:empty {
    display: none;
}

#suggestions li {
    border-bottom: solid 1px grey;
}

#suggestions li:last-child {
    border-bottom: none;
}