:root {
    --navbar-height: 64px;
}

.app-navbar {
    width: 100%;
    min-height: var(--navbar-height);
    z-index: 1050;
}

.navbar-spacer {
    height: var(--navbar-height);
}

@media (max-width: 767.98px) {
    :root {
        --navbar-height: 56px;
    }
}
