<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Explorer</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <h1>Global Map</h1>
    <p>Explore situation reports worldwide</p>

    <input type="text" name="city" placeholder="Search for a city or country...">
    <select name="country" id="country">
        <option value="australia">Australia</option>
    </select>

    <script src="index.js"></script>
  </body>
</html>